<table class="table" (click)="resetCoords()">

  <div class="table-header">
    <div class="table-header-item">Company</div>
    <div class="table-header-item">Contact</div>
    <div class="table-header-item">Country</div>
  </div>


  <div *ngIf="initialized" class="tree-wrapper">
    <ri-tree [treeModel]="treeModel">
      <app-nav-item
        (coordsChange)="changeCoords($event)"
        *ngFor="let node of treeModel.getChildren(null) | async" [node]="node" [treeModel]="treeModel"
      >


      </app-nav-item>
    </ri-tree>
  </div>

  <div [style.top]="(coords | async).y + 'px'" [style.left]="(coords | async).x + 'px'" id="tooltip">
    <!--<div class="tooltip__btn-wrapper">-->
    <!--<button class="button" (click)="onEdit($event)" [disabled]="isEditMode">-->

    <ul>
      <li (click)="onEdit($event)">
        <i class="fa fa-edit"></i>
        <span>
          Edit
        </span>
      </li>
      <li (click)="onDelete($event)">
        <i class="fa fa-trash"></i>
        <span>
          Delete
        </span>
      </li>
    </ul>
  </div>

</table>





